.header-area {
  min-width: 100%;
  min-height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    min-width: 96%;
    display: flex;
    align-items: center;
    position: relative;

    .header-img {
      margin-right: auto;
    }

    .hl {
      width: 40%;
      height: 1px;
      position: absolute;
      left: 7em;
      z-index: 20;
    }

    .navigation {
      .nav-icon {
        display: none;
      }
      .nav-area {
        min-width: 55vw;
        min-height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          width: 70%;
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1em;

          li {
            a {
              text-decoration: none;
            }
          }
          .active {
            position: relative;
          }
          .active::before {
            content: "";
            position: absolute;
            min-height: 2px;
            width: 100%;
            background-color: white;
            bottom: calc(0% - 3vh);
          }

          li:hover {
            a {
              position: relative;
            }
            a::before {
              content: "";
              position: absolute;
              min-height: 2px;
              width: 100%;
              background-color: white;
              opacity: 0.5;
              bottom: calc(0% - 3vh);
            }
          }
        }
      }
    }
  }
}
